/* Sector Universal */
*{
    padding: 0;
    margin: 0;
}
/*Selector de etiqueta */
body{
    background-color: #f1ecea;
    color: white;

}
/* Selector de clase */
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
}
.img{
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    border: 1px solid;      
} 
.lista-aside{
    padding-top: 15px;
    font-size: 25px;
    text-align: justify;
    font-style: italic;
}
/*selector de id*/
#contenedor{
    width: 1000px;
    height: 1000px;
    background-color: white;
}
#encabezado{
    height: 15%; 
    background-color: #3a251c;
    padding: 10 50px; 
    align-items: center;
}
#menu{
    height: 5%;
    background-color: #b46424; 
}
#contenido{
    height: 70%;
    width:66%;
    background-color: #362f2f ;
    display: inline-block;
    text-align: center;   
    padding-top: 20px;
} 
#fueraSeccion{
    height: 72%;
    width: 33%;
    background-color:#b58c7c;
    display: inline-block; 
    vertical-align: top;
}
#pie {
    height: 10%;
    background-color:#3a251c;
    text-align: center;   
}
#pie h4{
    padding: 30px;
    font-size: 20px;
    color: white;
}
/*Selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a{
    color: rgb(253, 253, 253);
    font-size: 20px; 
    font-style: italic;
}
li a:hover{
    color: rgb(173, 115, 127);
    text-decoration: none;
    list-style: none;
}
#h-enc{
    text-align: center;
    align-items: center; 
    font-size: 20px;
    padding-top:20px;
}