body{
    font-family: sans-serif;
    background: #641E16;
    margin: 0px;
    padding: 0px;

}

nav{

     /*outline: 1px solid blue;*/


}

ul{
    /*outline: 1px solid black;*/
    list-style: none;
    margin: 0;
    padding: 0;
    background: black;
    line-height: 70px;
    text-align: left;
    
}

li{
    /*outline: 1px solid red;*/
    width: 170px;
    display:inline-block;
    text-align: center;
}

a{
    /*outline: 1px solid red;*/
    text-decoration: none;
    color: #fff;
    display: block;


}

a:hover{
    background: #f9a91a;
    color: #000;
}
header{
    background: darkblue;
    height: 100px;
    border-bottom: 2px solid #000;
    border-image: 2px ;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 100px;
    image-resolution: 1920;
}
p{
    text-align: justify;
   
  
}

#footer{
    background: #000;
    height: 60px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
    
}

#contenedor{

    width: 900px;
    height: 950px;
    background-color: rgb(16, 56, 88);
    /*max-width: 1000 auto;*/
    border-radius: 5px;

}
.texto{

    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color:#fcfcfc;



}
.img{

    width: 150px;
    padding: 25px;
    border-radius: 5px;
    justify-items: center;


}